.div-img-skills {
    margin: 0 auto;
    margin-top: 40px;
    /* border-style: solid; */
    max-width: 800px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .imagen-skills {
    margin: 50px 0;
  }
  .img-skills {
    width: 90px;
    height: 100px;
    transition: transform 800ms;
  }
  .img-skills:hover {
    transform: scale(1.12);
    opacity: 1;
  }
  
  .imagen-skills h4 {
    color: white;
    font-size: 23px;
    margin: 10px;
  }
  .titulo-skills {
    /* margin-top: 50px; */
    color: white;
  }
  h2.titulo-skills {
    padding-top: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  @media (max-width: 800px) {
    .div-img-skills {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;
    }
    .img-skills {
      width: 60px;
      height: 70px;
    }
    .imagen-skills {
      margin: 20px 0;
    }
    .imagen-skills h4 {
      font-size: 16px;
      margin: 0;
    }
  }